################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Physics
/Test
/Physics.csproj
/Physics.sln
/.vs
/PhysicsTestApp
